@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.background {
  background-color: #000000;
  background-image: url(topography.svg)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

@layer components {
  .tilt {
    transform-style: preserve-3d;
    transform: perspective(5000px);
    will-change: transform, z-index;
  }

  .menu-button {
    @apply mx-12 my-2 pl-4 pr-4 py-5 
    bg-neutral-950/55 rounded-3xl font-Bebas_Neue
    text-left text-3xl transition ease-in-out 
    delay-75 hover:border-orange-400 border-4;
  }
  
  .menu-underline {
    @apply underline decoration-orange-400 decoration-4 underline-offset-4;
  }

  .heading-underline {
    @apply underline decoration-orange-400;
  }

  .bento-box {
    @apply bg-neutral-950/55 place-content-center shadow-xl 
    rounded-3xl border-2 hover:border-orange-400
    /* hover:-translate-y-1 hover:scale-105  */;
  }

  .popup-animation {
    @apply transition ease-in delay-100 hover:-translate-y-1 hover:scale-95;
  }

  .project-animation {
    @apply popup-animation hover:bg-neutral-950;
  }

  .bebas {
    @apply font-Bebas_Neue text-opacity-10;
  }

  .text-underline {
    @apply heading-underline decoration-2 decoration-solid;
  }

  .list-item-style {
    @apply bento-box mt-3 border-0;
  }

  .carousel-tile {
    @apply border-2 p-4 mx-auto bg-black rounded-3xl mt-3 hover:border-orange-400;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f172a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb923c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
